html, body {
	background-color: #F5F5F5 !important; /* Overide bootstrap.*/
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.8em;
	height: 100%;
	
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: normal;
	font-weight: 700;
	font-family: 'Taviraj', sans-serif;
	color: #3e3e3e;
}

h1 {
font-size: 20px;
font-family: 'Taviraj', verdana  , sans-serif;
color: #3e3e3e;
font-weight:800 !important;

}

h2 {
font-size: 10px;
font-family: 'Lato', verdana  , sans-serif;
color: #84957F;
font-weight:800;
}

p{
font-family: 'Lato';
font-size: 1.1em;
}
#container {
    display: block;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 80px;
    width: 800px;
    margin: 0 auto; 
}
#footer {
	min-height: 200px;
}
#header {
	height: 80px;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 2em;
}
#header-text {
	vertical-align: middle;
	display: inline-block;
	line-height: 2em;
	letter-spacing: 3px;
	margin-left: 20px;
	width: auto;
}

#header-logo {
	float: right;
	width: 100px;
	margin-right: 5px;
	margin-top: 10px;
}

.section {
	padding: 15px;
	border-bottom: 1px dashed #e1e1e1;
}

#welcome {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	
}

#instructions {
	text-align: center;
	width: 900px;
	min-width: 300px;
	margin: auto;
	font-size: 1.2em;
}

#form {
	text-align: center;
	line-height: 2em;
	width: 900px;
	min-width: 300px;
	margin: auto;
	font-size: 1.2em;
}

.info {
	min-height: 200px;
	margin-left: 210px;
}

.code {
	font-family: Courier New, monospace;
	color: #555;
	font-size: small;
}

.button {
	display: inline-block;
	padding: 8px;
	margin: 8px;
	background-color: #f5f5f5;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #aaa;
	text-decoration: none;
	color: #000;
}

.center {
	width: auto;
	margin: auto;
}

.none {
	display: none;
}

.valid {
	display: block;
	background-color: #77cc77;
}

.invalid {
	display: block;
	background-color: #cc7777;
}

.normal {
	display: block;
}

.pushup {
	margin-top: 20px;
}

.submit {
	font-size: large;
	font-family: 'Raleway', sans-serif;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	margin-right: 20px;
}

input {
	display: inline-block;
}

input[type=text] {
	float: left;
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}
input[type=text]:focus {
	border-color:#333;
}

input[type="text"] 
      {
         width: 60%;
      }


input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
margin: auto;}
