
body {
  background-color: white;
  /*overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; --- Hide scrollbars*/
}
/*body::-webkit-scrollbar {
  width: 0 !important
}*/   /*---Hides Scrollbars---*/
h1 {
  font-size: 30px;
  font-family: veranda  , sans-serif;
  color: #797D62;

  font-weight:800;

}
h3 {
  font-size: 12px;
  font-family: veranda  , sans-serif;
  color:grey;
}
p {
  color: red;
}
#heading { width:100%;


}
#sideleft {
  width: 13%;
  height: 900px;
  float: left;
  background-color: white;
}
#topsideh {
  width: 100%;
  height: 1px;
  box-shadow: 0px 5px 10px #cccccc;
  background-color: blue;
}
#section44{
  width: 100%;
  height: 30px;
  background-color: #47ad07;
  box-shadow: 0px 5px 10px #cccccc;
}
#subheading{
  padding-top: -50px;
}

/*--- CONTROL + LEGEND BOX FOR CLUSTER MAP */
#data-control-widget{
  position:relative;
  top: 0px;
  z-index: 5;
  display: none;
}
.nicebox {
  position: absolute;
  text-align: center;
  
  font-family: sans-serif; /*Not sure what font family to use here... @Ahmad can you change to what you think is suitable. */
  font-size: 13px;
  z-index: 6;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(223,210,174);
  background: linear-gradient(to bottom, rgba(223, 210, 174, 1) 0%, rgba(214, 202,167, 1) 100%);
  border: rgb(189, 177, 145) 1px solid;
}

#cluster-controls {
  top: 10px;
  left: 110px;
  width: 360px;
  height: 45px;
}
#data-box {
  top: 10px;
  left: 500px;
  height: 45px;
  line-height: 45px;
  display: none;
}
#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 7px;
}
.colour-legend{
  background: linear-gradient(to right,
  hsl(210, 91%, 22%) 0%,        /*Colour of minimum data.*/
  hsl(248, 93%, 32%) 25%,
  hsl(285, 94%, 41%) 50%,
  hsl(323, 96%, 51%) 75%,
  hsl(360, 97%, 60%) 100%       /*Colour of max data.*/
  );
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}
#data-value{
  font-size: 2.0em;
  font-weight: bold;
}
#data-label{
  font-size: 2.0em;
  font-weight: normal;
  padding-right: 10px;
}
#data-label:after {
  content: ':'
}
#data-point{
  margin-left: -5px;
  padding-top: 3px;
  display: none;
  color: white;
  font-size: 14px;
  width: 14px;
}


.navbar navbar-expand-lg navbar-light bg-light {
  padding-right: 23px;
  box-shadow: 0px 5px 10px #cccccc;
}
.nav-link active{
  color:#65AD07;
}
.map-control-widget {
  margin: auto;
  padding-top: 35px;
  width:375px;
  padding-bottom: 5px;
}






.button1 {
  background-color: white;
  color: black;
  border: 1px solid #797D62;
  border-radius: 0px;
  font-size: 20px;
  font-family: veranda  , sans-serif;
  color:#797D62;
  margin:10px;
  padding: 5px;
}

.button1:hover {
  background-color: #797D62;
  color: white;
}

.button1:active {
    background-color: #797D62;
    color: white;
}




.container {
  padding-top: 100px;
 width: 900px;
}

.TitleDiv {
    display: inline-block;
    color: #4a4a4a;
    font-family: Butler;
    font-size: 22px;
    letter-spacing: 1.04px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#map {
  height: 700px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

#heatInfo {
  width: 100%;
  padding: 20px 0;
  padding-left: 15%;
  padding-right:15%;
  text-align: center;
  margin-top: 20px;
  display : none;
  font-size: 20px;
  font-family: optima  , sans-serif;
  color: #4c4f3e;
  background-color: #cfcfa7;
}
#markerInfo {
  width: 100%;
  padding: 20px 0;
  padding-left: 15%;
  padding-right:15%;
  text-align: center;
  margin-top: 20px;
  display : none;
  font-size: 20px;
  font-family: optima  , sans-serif;
  color: #4c4f3e;
  background-color: #cfcfa7;
}
#geoInfo{
  width: 100%;
  padding: 20px 0;
  padding-left: 15%;
  padding-right:15%;
  text-align: center;
  margin-top: 20px;
  display : none;
  font-size: 20px;
  font-family: optima  , sans-serif;
  color: #4c4f3e;
  background-color: #cfcfa7;
}
